* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: #1f1f91;
}

#flex-all {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Bio Info */

#bio {
	background: #1f1f91;
	max-width: 350px;
	min-width: 350px;
}

nav {
    padding-top: 120px;
    position: fixed;
	max-width: 350px;
	min-width: 350px;
}

nav ul {
    list-style: none;
}

#profile-pic {
	width: 150px;
	border: solid 5px;
	border-color: white;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.name {
	font-size: 45px;
	color: white;
	padding-bottom: 5px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

.bio-text {
    font-family: 'Lato', sans-serif;
	color: white;
	font-size: 18px;
	padding-bottom: 5px;
	text-align: center;
    padding-left: 15px;
    padding-right: 15px;
	
}

.nav-buttons {
	list-style: none;
    text-align: center;
	margin-top: 20px;
	line-height: 42px;
}

.nav-buttons li {
    margin-bottom: 10px;
}

.portfolio {
	text-decoration: none;
	background: #4c4cc7;
	padding: 10px;
	font-size: 20px;
    font-family: 'Lato', sans-serif;
	color: #cbc7fa;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

#hide-portfolio {
    display: none;
}

.home {
    
}

.about-me {
    
}

.resume {
    
}

.web-projects,
.writing {
	text-decoration: none;
	background: #7e7ede;
	padding: 10px;
	font-size: 20px;
    font-family: 'Lato', sans-serif;
	color: #ffffff;
    border-radius: 10px;
}

.portfolio li a:hover,
.portfolio li a:active {
    background: #aaaaf2;
    color: #ffffff;
}

.contact {
    
}

.home,
.about-me,
.resume,
.contact {
	text-decoration: none;
	background: #4c4cc7;
	padding: 10px;
	font-size: 20px;
    font-family: 'Lato', sans-serif;
	color: #cbc7fa;
    border-radius: 10px;
}

.home:hover,
.about-me:hover,
.resume:hover,
.contact:hover,
.home:active,
.about-me:active,
.resume:active,
.contact:active {
	background: #7e7ede;
	color: #ffffff;
}


/* Main */

#home-parallax-image {
	border-left: 7px solid #00004d;
    background: url(../images/index-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 80%;
}

#placeholder-parallax-image {
    background: url("http://via.placeholder.com/1766x865");
    background-repeat: no-repeat;
    height: 80%;
}

#skip-parallax {
    background: rgba(0, 0, 77, 0.42);
    padding: 10px 15px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 50px;
    position: absolute;
    top: 600px;
    left: 56.5%;
    color: black;
    text-decoration: none;
    animation: magicfloat 2s infinite;
}

@keyframes magicfloat {
    from{top:400px;}
    to{top:450px;}
}

#skip-parallax:active {
    color: black;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 50px;
}

.p-indents {
	text-indent: 1.2em;
}

.alignment p {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}

.resume-alignment p {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

.contact-alignment p {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    margin-right: 100px;
}

#main-parallax {
	border-top: 7px solid #00004d;
	border-left: 7px solid #00004d;
    background: #9da0db;
    padding-bottom: 20px;
}

#resume ul {
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 25px;
}

form, .contact-alignment img {
    margin-left: 50px;
    font-size: 25px;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}

#resume {
    margin-left: 12%;
}

#resume ul li,
#resume ul li {
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    font-size: 25px;
}

.flex-it {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#letter-of-rec-1 img {
    margin-top: 15px;
}

#letter-of-rec-1 img,
#letter-of-rec-2 img {
    margin-left: 300px;
}

.resume-left-align {
    width: 40%;
}

.resume-right-align {
    width: 40%;
    padding-left: 100px;

}

.bold {
    font-weight: bold;
}

.resume-left-align,
.resume-right-align {
    margin-bottom: 50px;
}
	
@media screen and (min-width: 481px) and (max-width: 1279px) {
	
	#main-parallax {
        background: #dfe0f7;
    }
    
    #bio, nav {
	    max-width: 250px;
	    min-width: 250px;
    }
    
    #profile-pic {
        margin-left: 50px;
    }
}

@media screen and (max-width: 480px) {
	
	#main-parallax {
        background: white;
    }
    
    #bio, nav {
	    max-width: 150px;
	    min-width: 150px;
    }
    
    #profile-pic {
        margin-left: 25px;
    }
}