            /* OVERALL */
            * {
                margin: 0;
                padding: 0;
            }

            html {
                height: 100%;
            }

            p {
                font-size: 20px;
            }

            h1, h2, h3 {
                font-family: 'Lato', sans-serif;
                text-align: center;
                padding-top: 40px;
            }

            h1 {
                font-size: 50px;
				margin-bottom: 15px;
				text-decoration: underline;
            }

            .p-indents {
                text-indent: 1.2em;
            }

            #flex-all {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

            aside {
                width: 20vw;
            }

            main {
                width: 80vw;
                height: 100%;
            }

            #main-parallax {
                padding-bottom: 20px;
            }

            .vert-flex {
                display: flex;
                flex-direction: column;
            }

            .flex-it {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

/* BIO */

#bio {
	background: black;
    padding-top: 200px;
    border-right: 10px solid  black;
}

nav ul {
    list-style: none;
}

#profile-pic {
	width: 150px;
	margin-left: 100px;
    margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.name {
	font-size: 40px;
	color: #ffffff;
	padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

                /* NAV */

                .nav-buttons {
                    list-style: none;
                    text-align: center;
                    margin-top: 20px;
                    line-height: 42px;
                }

                .nav-buttons li {
                    margin-bottom: 10px;
                }

                .home {

                }

                .about-me {

                }

                .resume {

                }

                .contact {

                }

                .home,
                .about-me,
                .resume,
                .contact {
                    text-decoration: none;
                    background: #9f9f9f;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    color: #343434;
                    border-radius: 10px;
                }

                .home:hover,
                .about-me:hover,
                .resume:hover,
                .contact:hover,
                .home:active,
                .about-me:active,
                .resume:active,
                .contact:active {
                    background: #bfbfbf;
                    color: #6d6d6d;
                }

                .portfolio {
                    text-decoration: none;
                    background: #9f9f9f;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    color: #343434;
                    border-radius: 10px;
                }

                #hide-portfolio {
                    display: none;
                }

                .portfolio li a:hover,
                .portfolio li a:active {
                    background: #e5e5e5;
                    color: #a2a2a2;
                }

                .web-projects,
                .writing {
                    text-decoration: none;
                    background: #bfbfbf;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    color: #6d6d6d;
                    border-radius: 10px;
                }


/* HOME */

#home-parallax {
	background: 20vw;
    background-image: url(../images/index-photo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	height: 80vh;
}

.home-p {
    font-family: 'Lato', sans-serif;
    margin-left: 21.5%;
    margin-top: 10px;
    max-width: 900px;
    min-width: 800px;
}

/* ABOUT ME */

.about-me-alignment {
    font-family: 'Lato', sans-serif;
    margin-left: 20%;
    max-width: 1100px;
    min-width: 1100px;
}


/* RESUME */

.resume-alignment p {
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

.resume-left-align,
.resume-right-align {
    margin-bottom: 50px;
}

#resume ul {
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    margin-left: 20px;
}

#resume {
    margin-left: 12%;
}

#resume ul li,
#resume ul li {
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    font-size: 20px;
}

#letter-of-rec-1 img {
    margin-top: 15px;
    margin-left: 230px;
}

#letter-of-rec-2 img {
    margin-top: 15px;
    height: 789px;
    margin-left: 100px;
}

.resume-left-align {
    width: 40%;
}

.resume-right-align {
    width: 40%;
    padding-left: 100px;

}

/* WEB PROJECTS */

.web-proj {
    font-family: 'Lato', sans-serif;
    max-width: 850px;
    min-width: 850px;
    margin-left: 15%;
}

.web-chunk {
    background: #9f9f9f;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.web-chunk h3 {
    margin-bottom: 20px;
}

.web-chunk img {
    margin-bottom: 20px;
    border: solid 4px;
}

#site1 {
	width: 100%;
	height: 100%;
}

#zg-banner {
    width: 100%;
    height: 30%;
}

#site2 {
	width: 100%;
    height: 70%;
}

#git {
    width: 100%;
    height: 100%;
}

/* WRITING */

.writing-alignment {
    font-family: 'Lato', sans-serif;
    margin-left: 250px;
    max-width: 1100px;
    min-width: 1100px;
}

.essay-chunk {
    background: #9f9f9f;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.essay-chunk h2 {
    margin-bottom: 20px;
}

.essay-chunk p {
    margin-top: 200px;
}

.essay-left {
	text-align: center;
    max-width: 500px;
    min-width: 500px;
	margin-top: 30px;
    margin-left: 10px;
    padding-left: 10px;
}

.essay-right {
	text-align: center;
    max-width: 500px;
    min-width: 500px;
    margin-right: 10px;
    padding-left: 10px;
}

#essay1 {
	width: 40%;
    height: 40%;
}

#essay2 {
	width: 40%;
    height: 40%;
}

/* CONTACT */

#contact-p {
    max-width: 850px;
    min-width: 850px;
	text-align: center;
}

.contact-alignment p {
    font-family: 'Lato', sans-serif;
    margin-left: 370px;
}

form {
    margin-left: 420px;
    font-size: 20px;
}

#submit {
    margin-left: 250px;
}

#submit, #reset {
    padding: 10px;
    font-size: 20px;
}

#reset {
    margin-left: 120px;
}

#phone {
    margin-left: 40px;
}

#email-function, #phone-function, #comments-function {
    font-size: 20px;
}

#comments {
    margin-left: 100px;
}

.contact-alignment img {
    margin-left: 50px;
}

#twitter, #linkedin {
    margin-top: 15px;
}

#twitter {
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-left: 650px;
}

#linkedin {
    height: 100px;
}


            /* SLIDESHOW */

            .mySlides {
                display: none;
                height: 792px;
            }

            .slideshow {
                margin-left: 450px;
                padding-left: 25px;
                margin-top: 40px;
                margin-bottom: 10px;
            }

            div.slideshow {
                overflow: scroll;
                overflow-x: hidden;
                overflow-y: hidden;
            }

            .slideshow-center {
                padding-top: 40px;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .slideshow-section {
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }

            .slideshow-buttons {
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }

            .slide-individual {
                padding-left: 4px;
                padding-right: 4px;
            }

            .slide-arrows {
                padding-left: 4px;
                padding-right: 4px;
            }

/* FOOTER */

footer {
	border-top: 5px solid black;
    background: #9f9f9f;
    color: #343434;
    padding-left: 50%;
	padding-top: 10px;
	padding-bottom: 15px;
}

#f-nav-buttons {
    font-family: 'Lato', sans-serif;
	line-height: 35px;
}

#f-nav-buttons li {
	text-decoration: none;
	font-size: 20px;
}

#f-nav-buttons a {
	color: #343434;
}

#f-nav-buttons a:visited {
	color: #dddddd;
}

#f-home {
    
}

#f-about-me {
    
}

#f-resume {
    
}

#f-web-portfolio {
    
}

#f-writing {
    
}

#f-contact {
    
}


@media screen and (min-width: 481px) and (max-width: 1279px) {
	
	#main-parallax {
        background: #dfe0f7;
    }
    
    #profile-pic {
        margin-left: 50px;
    }
}

@media screen and (max-width: 480px) {
	
	#main-parallax {
        background: #2d7723;
		
    }
    
    #profile-pic {
        margin-left: 25px;
    }
}