            /* OVERALL */
            * {
                margin: 0;
                padding: 0;
            }

            html {
                height: 100%;
            }

            p {
                font-size: 20px;
            }

            h1, h2, h3 {
                font-family: 'Lato', sans-serif;
                text-align: center;
                padding-top: 40px;
            }

            h1 {
                font-size: 50px;
				margin-bottom: 15px;
				text-decoration: underline;
            }

            .p-indents {
                text-indent: 1.2em;
            }

            #flex-all {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

            #bio {
                width: 15vw;
            }

            #main-parallax {
                border-top: 5px solid black;
                padding-bottom: 20px;
                width: 85vw;
            }

            .vert-flex {
                display: flex;
                flex-direction: column;
            }

            .flex-it {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

/* BIO */

#bio {
	background: black;
    padding-top: 200px;
	border-right: solid black 5px;
}

#bio nav {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

nav ul {
    list-style: none;
}

#profile-pic {
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.name {
	font-size: 40px;
	color: #ffffff;
	padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

                /* NAV */

                .nav-buttons {
                    background: #9f9f9f;
                    list-style: none;
                    text-align: center;
                    margin-top: 20px;
                    line-height: 42px;
					padding-top: 10px;
					width: 100%;
                }

                .no-select {
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Chrome and Opera */
                }

                .nav-buttons li {
                    margin-bottom: 10px;
                }

                .home,
                .about-me,
                .resume,
                .contact {
                    text-decoration: none;
					padding-top: 19px;
					padding-bottom: 12px;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    color: #343434;
					padding-left: 20px;
					padding-right: 20px;
                }

                .home:active,
                .about-me:active,
                .resume:active,
                .contact:active {
                    color: #6d6d6d;
					width: 100%;
                }

                .portfolio {
                    text-decoration: none;
                    background: #9f9f9f;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    color: #343434;
                }

                #hide-portfolio {
                    display: none;
                }

				.portfolio ul {
					background: #bfbfbf;
                    padding-bottom: 10px;
				}

                .portfolio li {
                    padding-top: 10px;
                }

                .portfolio li a:active {
                    color: #a2a2a2;
                }

                .web-projects,
                .writing {
                    text-decoration: none;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    color: #6d6d6d;
                }


/* HOME */

#home-parallax {
	background: 13vw;
    background-image: url(../images/index-photo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	height: 80vh;
    filter: grayscale(50%);
}

.home-p {
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

.home-alignment section {
    margin-left: 15vw;
    min-width: 50vw;
    max-width: 50vw;
}

/* ABOUT ME */

.about-me-alignment {
    font-family: 'Lato', sans-serif;
}

.about-me-alignment section {
    margin-left: 15vw;
    max-width: 50vw;
    min-width: 50vw;
}

.about-me-alignment section img {
    width: 550px;
    height: 100%;
    margin-top: 2vh;
    margin-left: 11vw;
}

.about-chunks {
    margin-top: 2vh;
}

/* RESUME */

.resume-flex-it {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#resume {
    margin-left: 3vw;
}

#resume ul,
#resume ul li {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#resume ul li {
	margin-left: 2vw;
}

/* WEB PROJECTS */

.web-project-alignment {
    font-family: 'Lato', sans-serif;
}

.web-project-alignment section {
    margin-left: 15vw;
    min-width: 50vw;
    max-width: 50vw;
}

.web-chunk {
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.web-chunk h3 {
    margin-bottom: 20px;
}

.web-chunk img {
    margin-bottom: 20px;
    border: solid 4px;
}

#site1 {
	width: 100%;
	height: 100%;
}

#zg-banner {
    width: 100%;
    height: 30%;
}

#site2 {
	width: 100%;
    height: 70%;
}

#git {
    width: 100%;
    height: 100%;
}

/* WRITING */

.writing-alignment {
    font-family: 'Lato', sans-serif;
}

.writing-alignment section {
    margin-left: 15vw;
    min-width: 50vw;
    max-width: 50vw;
}

.writing-alignment section .essay-chunk img {
    border: solid black 4px;
    margin-left: 15vw;
}

.essay-chunk {
    padding-right: 25px;
    padding-bottom: 20px;
}

.essay-chunk h2 {
    margin-bottom: 20px;
}

.essay-chunk p {
    margin-top: 2vh;
}

#essay1,
#essay2,
#essay3 {
	width: 45%;
    height: 45%;
}

/* CONTACT */

.contact-alignment section {
    margin-left: 15vw;
    min-width: 50vw;
    max-width: 50vw;
}

.contact-alignment section p {
    font-family: 'Lato', sans-serif;
}

.contact-flex-it {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.contact-alignment img {
    margin-left: 2vw;
}

#twitter, #linkedin {
    margin-top: 15px;
}

#twitter {
    height: 100px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

#linkedin {
    height: 100px;
}

form {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#email {
    margin-left: 20vw;
}

#email-function {
    margin-left: 20vw;
}

#phone {
    margin-left: 20vw;
}

#phone-function {
    margin-left: 20vw;
}

#email-function, #phone-function, #comments-function {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#comments {
    margin-left: 20vw;
}

#comments-function {
    margin-left: 20vw;
}

#submit {
    margin-left: 20vw;
}

#reset {
    margin-left: 5vw;
}

#submit, #reset {
    padding: 10px;
    font-size: 20px;
}


                        /* SLIDESHOW - RESUME SECTIONS */

                        .resume-section {
                            display: none;
                            width: 40vw;
                            background: #bfbfbf;
                            padding: 12px;
                            border: solid black 3px;
                        }

                        .resume-container {
                            margin-left: 20vw;
                            margin-top: 5vh;
                            margin-bottom: 10px;
                            overflow: scroll;
                            overflow-x: hidden;
                            overflow-y: hidden;
                        }

                        .resume-back-and-next {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 2vw;
                        }

                        .resume-back-and-next button {
                            font-family: 'Lato', sans-serif;
                            font-size: 20px;
                            padding: 10px;
                            border-bottom-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-top-left-radius: 50%;
                        }

                        .resume-back {
                            font-family: 'Lato', sans-serif;
                            margin-right: 100px;
                        }


                        /* SLIDESHOW - LETTERS OF REC */

                        .letters {
                            font-family: 'Lato', sans-serif;
                            display: none;
                            height: 100%;
                            background: #bfbfbf;
                            width: 550px;
                            padding: 12px;
                            border: solid black 3px;
                        }
    
                        .letters-right {
                            text-align: right;
                        }

                        .letters p {
                            margin-top: 1vh;
                        }

                        .cancel-margin-top {
                            margin-top: 1vh;
                        }

                        .cancel-margin-top p {
                            margin-top: 0vh;
                        }

                        .letter-of-rec-container {
                            margin-left: 20vw;
                            margin-top: 5vh;
                            margin-bottom: 10px;
                            overflow: scroll;
                            overflow-x: hidden;
                            overflow-y: hidden;
                        }

                        .letter-back-and-next {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 2vw;
                        }

                        .letter-back-and-next button {
                            font-family: 'Lato', sans-serif;
                            font-size: 20px;
                            padding: 10px;
                            border-bottom-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-top-left-radius: 50%;
                        }

                        .letter-back {
                            font-family: 'Lato', sans-serif;
                            margin-right: 100px;
                        }

/* FOOTER */

footer {
	border-top: 5px solid black;
    background: #9f9f9f;
    color: #343434;
	padding-top: 10px;
	padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#f-nav-buttons {
    margin-left: 33vw;
}

#f-nav-buttons p {
    font-size: 17px;
}

#f-nav-buttons p a {
	color: #343434;
    margin-left: 10px;
}

#f-nav-buttons p a:visited {
	color: #dddddd;
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
	
	#main-parallax {
        width: 66vw;
    }
    
	.name {
		font-size: 30px;
	}
    
    #bio {
        width: 34vw;
    }
	
    #profile-pic {
		width: 120px;
    }
    
    /* **  Home ** */
    
    #home-parallax {
        background: 30vw;
        background-image: url(../images/index-photo.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
    }

    .home-alignment section {
        margin-left: 9vw;
        min-width: 50vw;
        max-width: 50vw;
    }
    
    /* **  About Me ** */
    
    .about-me-alignment {
        font-family: 'Lato', sans-serif;
    }

    .about-me-alignment section {
        margin-left: 9vw;
        max-width: 50vw;
        min-width: 50vw;
    }

    .about-me-alignment section img {
        width: 250px;
        height: 100%;
        margin-top: 4vh;
        margin-left: 4vw;
    }
    
    /* ** Resume * **/

    .resume-flex-it {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #resume ul {
        font-family: 'Lato', sans-serif;
        margin-top: 15px;
    }

    #resume ul,
    #resume ul li {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
    }

    #resume ul li {
        margin-left: 3vw;
    }
    
    /* **  Web Projects ** */
    
    .web-project-alignment {
        font-family: 'Lato', sans-serif;
    }

    .web-project-alignment section {
        margin-left: 9vw;
        min-width: 50vw;
        max-width: 50vw;
    }

    .web-chunk h3 {
        margin-bottom: 20px;
    }

    .web-chunk img {
        margin-bottom: 20px;
        border: solid 4px;
    }

    #site1 {
        width: 100%;
        height: 100%;
    }

    #zg-banner {
        width: 100%;
        height: 30%;
    }

    #site2 {
        width: 100%;
        height: 70%;
    }

    #git {
        width: 100%;
        height: 100%;
    }
    
    /* ** Writing ** */
    
    .writing-alignment {
        font-family: 'Lato', sans-serif;
    }

    .writing-alignment section {
        margin-left: 9vw;
        min-width: 50vw;
        max-width: 50vw;
    }

    .writing-alignment section .essay-chunk img {
        border: solid black 4px;
        margin-left: 0vw;
    }

    .essay-chunk {
        padding-right: 25px;
        padding-bottom: 20px;
    }

    .essay-chunk h2 {
        margin-bottom: 20px;
    }

    .essay-chunk p {
        margin-top: 2vh;
    }

    .essay-left {
        text-align: center;
    }

    .essay-right {
        text-align: center;
    }

    #essay1,
    #essay2,
    #essay3 {
        width: 100%;
        height: 100%;
    }
    
    /* ** Contact ** */

    #contact-p {
        text-align: center;
        min-width: 50vw;
        max-width: 50vw;
    }

    .contact-alignment section {
        margin-left: 9vw;
    }

    .contact-alignment section p {
        font-family: 'Lato', sans-serif;
    }

    .contact-alignment img {
        margin-left: 4vw;
    }

    #twitter, #linkedin {
        margin-top: 15px;
    }

    #twitter {
        height: 100px;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        margin-left: 3vw;
    }

    #linkedin {
        height: 100px;
    }

    form {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }

    #email {
        margin-left: 5vw;
    }

    #email-function {
        margin-left: 5vw;
    }

    #phone {
        margin-left: 5vw;
    }

    #phone-function {
        margin-left: 5vw;
    }

    #email-function, #phone-function, #comments-function {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }

    #comments {
        margin-left: 5vw;
    }

    #comments-function {
        margin-left: 5vw;
    }

    #submit {
        margin-left: 5vw;
    }

    #reset {
        margin-left: 5vw;
    }

    #submit, #reset {
        padding: 10px;
        font-size: 20px;
    }


                        /* SLIDESHOW - RESUME SECTIONS */

                        .resume-section {
                            display: none;
                            width: 50vw;
                        }
    
                        .resume-section ul {
                            margin-left: 5vw;
                        }

                        .resume-container {
                            margin-left: 0vw;
                            margin-top: 5vh;
                            margin-bottom: 10px;
                            overflow: scroll;
                            overflow-x: hidden;
                            overflow-y: hidden;
                        }

                        .resume-back-and-next {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 2vw;
                        }

                        .resume-back-and-next button {
                            font-family: 'Lato', sans-serif;
                            font-size: 20px;
                            padding: 10px;
                            border-bottom-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-top-left-radius: 50%;
                        }

                        .resume-back {
                            font-family: 'Lato', sans-serif;
                            margin-right: 100px;
                        }


                        /* SLIDESHOW - LETTERS OF REC */

                        .letters {
                            display: none;
                            width: 50vw;
                        }

                        .letter-of-rec-container {
                            margin-left: 0vw;
                            margin-top: 5vh;
                            margin-bottom: 10px;
                            overflow: scroll;
                            overflow-x: hidden;
                            overflow-y: hidden;
                        }

                        .letter-back-and-next {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 2vw;
                        }

                        .letter-back-and-next button {
                            font-family: 'Lato', sans-serif;
                            font-size: 20px;
                            padding: 10px;
                            border-bottom-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-top-left-radius: 50%;
                        }

                        .letter-back {
                            font-family: 'Lato', sans-serif;
                            margin-right: 100px;
                        }
    
    /* FOOTER */

    #f-nav-buttons {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 480px) {
	
	#main-parallax {
        width: 100%;
    }
	
	#flex-all {
		display: flex;
		flex-direction: column;
	}
	
	#bio {
        width: 100%;
		padding-top: 2vh;
		border-right: none;
        border-bottom: solid black 5px;
	}
    
    #profile-pic {
		max-width: 40%;
		min-width: 40%;
    }
	
	h1 {
		font-size: 35px;
	}
	
	main p, main ul, main li {
		font-size: 17px;
	}
    
    .flex-it {
        flex-direction: column;
    }
    
    /* **  Home ** */
    
    .home-alignment section {
        margin-left: 0vw;
        min-width: 93vw;
        max-width: 93vw;
    }
    
    .home-p {
        padding-right: 25px;
        padding-left: 20px;
    }
	
	#home-parallax {
        background: -70vw;
		background-size: cover;
		background-image: url(../images/index-photo.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
		height: 30vh;
	}
    
    /* ** About Me ** */

    .about-me-alignment section img {
        width: 200px;
        height: 100%;
        margin-top: 2vh;
        margin-left: 10vw;
    }

    .about-me-alignment section {
        margin-left: 0vw;
        min-width: 90vw;
        max-width: 90vw;
    }

    .about-chunks {
        margin-top: 2vh;
        padding-right: 3vw;
        padding-left: 3vw;
    }
    
    /* ** Resume ** */

    .resume-flex-it {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    
    #resume {
        min-width: 90vw;
        max-width: 90vw;
    }

    #resume {
        margin-left: 3vw;
    }

    #resume ul,
    #resume ul li {
        font-family: 'Lato', sans-serif;
        font-size: 15.5px;
    }
    
    #resume ul {
        padding-left: 7vw;
    }

    #resume ul li {
        margin-left: 2vw;
    }
    
    /* **  Web Projects ** */
    
    .web-project-alignment {
        font-family: 'Lato', sans-serif;
    }

    .web-project-alignment section {
        margin-left: 0vw;
        min-width: 95vw;
        max-width: 95vw;
    }

    .web-chunk img {
        margin-bottom: 10px;
        border: none;
    }

    #site1,
    #zg-banner,
    #site2,
    #git {
        width: 100%;
        height: 100%;
    }
    
    /* ** Writing ** */
    
    .writing-alignment {
        font-family: 'Lato', sans-serif;
    }

    .writing-alignment section {
        margin-left: 0vw;
        min-width: 90vw;
        max-width: 90vw;
    }

    .writing-alignment section .essay-chunk img {
        border: solid black 4px;
        margin-left: 2vw;
    }

    .essay-chunk h2 {
        margin-left: 2vw;
    }

    .essay-chunk p {
        margin-top: 2vh;
        padding-left: 10px;
    }

    #essay1,
    #essay2,
    #essay3 {
        width: 100%;
        height: 100%;
    }
    
    /* ** Contact ** */

    #contact-p {
        text-align: center;
        min-width: 90vw;
        max-width: 90vw;
    }

    .contact-alignment section {
        margin-left: 0vw;
        min-width: 90vw;
        max-width: 90vw;
    }

    .contact-alignment section p {
        font-family: 'Lato', sans-serif;
        padding-right: 1vw;
        padding-left: 1vw;
    }

    .contact-alignment img {
        margin-left: 7vw;
    }

    #twitter, #linkedin {
        margin-top: 17vwpx;
    }

    #twitter {
        height: 100px;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    #linkedin {
        height: 100px;
    }

    form {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
    }

    #email {
        margin-left: 9vw;
    }

    #email-function {
        margin-left: 9vw;
    }

    #phone {
        margin-left: 9vw;
    }

    #phone-function {
        margin-left: 9vw;
    }

    #email-function, #phone-function, #comments-function {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }

    #comments {
        margin-left: 9vw;
    }

    #comments-function {
        margin-left: 9vw;
    }

    #submit {
        margin-left: 13vw;
    }

    #reset {
        margin-left: 12vw;
    }

    #submit, #reset {
        padding: 10px;
        font-size: 20px;
    }


                        /* SLIDESHOW - RESUME SECTIONS */

                        .resume-section {
                            display: none;
                            width: 70vw;
                        }
    
                        .resume-section ul,
                        .resume-section ul li {
                            margin-left: 5vw;
                        }

                        .resume-container {
                            margin-left: 0vw;
                        }
    
                        .resume-back {
                            margin-right: 50px;
                        }

                        .resume-back-and-next {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 2vw;
                        }


                        /* SLIDESHOW - LETTERS OF REC */

                        .letters {
                            display: none;
                            width: 70vw;
                        }

                        .letter-of-rec-container {
                            margin-left: 0vw;
                        }
    
                        .letter-back {
                            margin-right: 50px;
                        }
    
    /* FOOTER */

    #f-nav-buttons {
        margin-left: 1vw;
    }
}