* {
	margin: 0;
	padding: 0;
}

#flex-all {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Bio Info */

#bio {
	background: #1f1f91;
	max-width: 250px;
	min-width: 250px;
	padding-top: 100px;
	border-right: 7px solid #00004d;
}

nav {
    position: fixed;
	max-width: 250px;
	min-width: 250px;
}

#profile-pic {
	width: 150px;
	border: solid 5px;
	border-color: #ffffff;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.name {
	font-size: 30px;
	color: white;
	padding-bottom: 5px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

.bio-text {
	color: white;
	font-size: 18px;
	padding-bottom: 5px;
	text-align: center;
	
}

.nav-buttons {
	list-style: none;
    text-align: center;
	margin-top: 20px;
	line-height: 42px;
}

.home {
    
}

.about-me {
    
}

.resume {
    
}

.web-projects {
    
}

.writing {
    
}

.contact {
    
}

.home,
.about-me,
.resume,
.web-projects,
.writing,
.contact {
	text-decoration: none;
	background: #3c3cb5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 20px;
	font-family: monospace;
	color: #837af2;
}

.home:hover,
.about-me:hover,
.resume:hover,
.web-projects:hover,
.writing:hover,
.contact:hover,
.home:active,
.about-me:active,
.resume:active
.web-projects:active
.writing:active,
.contact:active {
	background: #4b4bb9;
	color: #b2b2f4;
}


/* Main */

.p-indents p {
	text-indent: 1.2em;
}

h2 {
	padding-bottom: 5px;
	text-align: center;
}

h4 {
	padding-top: 10px;
}

.art-portfolio {
	background: #9da0db;
	font-size: 16px;
	padding-bottom: 400px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 10px;
}

.dancing-portfolio {
	background: #d3d3ff;
	font-size: 16px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 10px;
}

.song-portfolio {
	background: #9da0db;
	font-size: 16px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 10px;
}

#aandra-sanders {
	height: 450.5px;
	width: 335px;
	margin-left: 5px;
	float: left;
	margin-right: 10px;
}

article ul {
	margin-left: 40px;
}

article ul li {
	width: 90%;
}
	
@media screen and (min-width: 481px) and (max-width: 1279px) {
	
	.art-portfolio {
		background: pink;
	}
	
	#aandra-sanders {
		margin-top: 5px;
	}
	
	.vertical-p {
		margin-top: 10px;
		max-width: 685px;
	}
	
	article ul li {
		margin-left: 10%;
	}
}

@media screen and (max-width: 480px) {
	.art-portfolio {
		background: lightblue;
	}

	.profile-pic {
		width: 120px;
	}
	
	#aandra-sanders {
		margin-top: 5px;
	}
	
	.vertical-p {
		margin-top: 10px;
		padding-right: 15px;
	}

	.song-portfolio {
		margin-bottom: 50px;
	}
	
	article ul {
		margin-left: 10px;
	}
}